uCook/ClientUCook/Service References/uCookService/uCookService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="uCookContract" elementFormDefault="qualified" targetNamespace="uCookContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/uCookService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/uCookContract" />
  <xs:element name="sendRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/uCookContract" minOccurs="0" name="sendRecipeResult" nillable="true" type="q1:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/uCookContract" minOccurs="0" name="findRecipeResult" nillable="true" type="q2:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/uCookContract" minOccurs="0" name="recipe" nillable="true" type="q3:Recipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addRecipeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="naam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeRecipeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableAppliances">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableAppliancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/uCookContract" minOccurs="0" name="getAvailableAppliancesResult" nillable="true" type="q4:ArrayOfAppliances" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>