uCook/ClientUCook/Service References/uCookService/uCookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="uCookContract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="uCookContract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="uCookContract/Imports">
      <xsd:import schemaLocation="http://localhost:8000/uCookService?xsd=xsd0" namespace="uCookContract" />
      <xsd:import schemaLocation="http://localhost:8000/uCookService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/uCookService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/uCookContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecipes_sendRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:sendRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipes_sendRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipes_findRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:findRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipes_findRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:findRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipes_addRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:addRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipes_addRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipes_removeRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:removeRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipes_removeRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipes_getAvailableAppliances_InputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableAppliances" />
  </wsdl:message>
  <wsdl:message name="IRecipes_getAvailableAppliances_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAvailableAppliancesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecipes">
    <wsdl:operation name="sendRecipe">
      <wsdl:input wsaw:Action="uCookContract/IRecipes/sendRecipe" message="tns:IRecipes_sendRecipe_InputMessage" />
      <wsdl:output wsaw:Action="uCookContract/IRecipes/sendRecipeResponse" message="tns:IRecipes_sendRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findRecipe">
      <wsdl:input wsaw:Action="uCookContract/IRecipes/findRecipe" message="tns:IRecipes_findRecipe_InputMessage" />
      <wsdl:output wsaw:Action="uCookContract/IRecipes/findRecipeResponse" message="tns:IRecipes_findRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRecipe">
      <wsdl:input wsaw:Action="uCookContract/IRecipes/addRecipe" message="tns:IRecipes_addRecipe_InputMessage" />
      <wsdl:output wsaw:Action="uCookContract/IRecipes/addRecipeResponse" message="tns:IRecipes_addRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeRecipe">
      <wsdl:input wsaw:Action="uCookContract/IRecipes/removeRecipe" message="tns:IRecipes_removeRecipe_InputMessage" />
      <wsdl:output wsaw:Action="uCookContract/IRecipes/removeRecipeResponse" message="tns:IRecipes_removeRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableAppliances">
      <wsdl:input wsaw:Action="uCookContract/IRecipes/getAvailableAppliances" message="tns:IRecipes_getAvailableAppliances_InputMessage" />
      <wsdl:output wsaw:Action="uCookContract/IRecipes/getAvailableAppliancesResponse" message="tns:IRecipes_getAvailableAppliances_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>